<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eunwon.duri">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_duri2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.Duri">
        <activity
            android:name=".activity.WebActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddWordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LogInActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>